<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.luckyojbackendquestionservice.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.lucky.luckyojbackendmodel.model.entity.QuestionSubmit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,language,code,
        judgeInfo,status,problemId,
        userId,createTime,updateTime,
        isDelete
    </sql>
    <select id="getPassCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT questionId)
        FROM question_submit
        WHERE userId = #{userId} AND status = 3
        <if test="id != null and id.size() > 0">
            AND questionId IN
            <foreach collection="id" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
